$text_center : center;
$color_white : #fff;
$color_text_hover : #FFEA00;
$color_black : #000;
$padding_section : 4em 6em;
$padding_text : 1.5em;
$font-size : 1em;
$color-text : #E4CE81;
$border_img : 20%
